button {
  touch-action: manipulation;
}

.boxes {
  font-size: 2rem;
}

.container-boxes {
  height: calc(100vh - 430px);
  overflow-y: scroll;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.day-counter {
  margin: 0 0 10px 0;
}

.input-code{
  text-align: center;
}

.nav-icons {
  width: 20px;
}