.boxes {
  font-size: 2rem;
}

.container-boxes {
  height: calc(100vh - 430px);
  overflow-y: scroll;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.input-code{
  width: 125px;
  text-align: center;
}

.nav-icons {
  width: 20px;
}